<!DOCTYPE html>
<html ng-app="pbApp">
  <head>
    <title>Paybook Lite JS!</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/ng-table.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <!--STYLES END-->
  </head>

  <body>
    <div menu></div>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular-route.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/angular-animate.js"></script>
    <script src="/js/dependencies/angular-aria.js"></script>
    <script src="/js/dependencies/angular-loader.js"></script>
    <script src="/js/dependencies/angular-material.js"></script>
    <script src="/js/dependencies/angular-mocks.js"></script>
    <script src="/js/dependencies/bootstrap.js"></script>
    <script src="/js/dependencies/ng-table.js"></script>
    <script src="/js/app/app.js"></script>
    <script src="/js/app/components/version/interpolate-filter.js"></script>
    <script src="/js/app/components/version/version-directive.js"></script>
    <script src="/js/app/components/version/version.js"></script>
    <script src="/js/app/components/version/version_test.js"></script>
    <script src="/js/app/controllers/accounts.js"></script>
    <script src="/js/app/controllers/login.js"></script>
    <script src="/js/app/controllers/transactions.js"></script>
    <script src="/js/app/view1/view1.js"></script>
    <script src="/js/app/view2/view2.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
